$main: rgb(4, 140, 168);
$secondary: rgb(22, 219, 147);
$accent: rgb(211, 24, 105);

$white: rgb(255, 255, 255);

// Text Colors
$text-main: $secondary;
$text-secondary: $main;
$text-accent: $accent;
$text-inverse: $white;