.sales-points {
    padding: 10vh 0 0;
}

.sales-point {
    margin-bottom: 3.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 725px) {
        &:first-of-type {
            margin-top: 0;
        }
    }
}