.main-nav {
    background: $accent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        height: 100vh;
    }
}